/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* body
{
   width: 1200px;
} */

header
   { 
      background-color: turquoise;
      padding: 10px;
      border: 2px;
      margin: 10px;
   }
   .content
   {
      display: flex;
      background-color: turquoise;
      align-items: center;
   }
  .logo
   {
      display: flex;
   }
   header picture
   {
      padding: 10px;
      border: 1px;
      margin: 10px;
   }
   header .message
   {
      text-align: center;
   }
   header h1
   {
      font-size: 20px;
   }
   header h2
   {
      font-size: 10px;
   }

   .social-hamburger
{
   display: flex;
}
.social{
   display: flex;
}
.social img{
   border: 1px;
   margin: 5px;
   padding: 5px;
   border-radius: 50%;
}
   #primaryNav
   {
      
      list-style: none;
   }
   
/* #hamburgerBtn{
   float: right;
   width: 60px;
   height: 60px;
} */

#currentdate
{
   width: 95%;
   margin: 10px;
   border: 1px ;
   padding: 5px;
   text-align: center;
   background-color: gray;
}

main{
   padding: 10px;
   margin: 10px;
   border: 4px ;
}

.hero{
    width: 100%;
    height: auto;
    border: 2px solid gray;
    padding: 5px;
    margin: 2px;
    background-color: gray;
}
.hero h2{
    border: 2px;
    padding: 5px;
    margin: 2px
}

.event{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}
.event h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.weather{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.weather h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.news{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.news h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.spot{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.spotlight1{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.spotlight2 h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.spotlight2{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.spotlight2 h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.spotlight3{
   display: none;
}

.spotlight3 h2 {
   display: none;
   border: 2px;
   padding: 5px;
   margin: 2px
}

p{
   border: 2px;
   padding: 5px;
   margin: 2px
}

.join{
   display: none;
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px;
   font-size: 2rem;
}

nav button{
   margin: .2rem 2vw;
   background: transparent;
   border: none;
}

nav
{
   background-color: gray;
}

nav ul{
   padding: 0;
   margin:  0;
}

nav ul{
   display: none;
}

nav ul.open{
   display: block;
}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}


nav ul li a {
   display: block;
   padding: .8rem 2vw;
   text-decoration: none;
   color: #333;
   border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
   background-color: rgba(0, 0, 0, 0.3);
}

main{
   display: grid;
   grid-template-columns: 1fr;
}
footer{
   background-color: turquoise;
   text-align: center;
   padding: 10px;
   border: 2px;
   margin: 10px;
}

.image{
   padding: 10px;
   border: 1px;
   margin: 10px;
}

footer h1{
   font-size: 20px
}

footer h2{
   font-size: 15px;
}
footer a{
   text-decoration: none;
   color: black;
}