/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* body
{
   width: 1200px;
} */

header
   { 
      background-color: turquoise;
      /* padding: 10px; */
      border: 2px;
      margin: 10px;
      /* width: 100%;
      height: 100%;
      object-fit: cover; */
   }
   .content
   {
      display: flex;
      background-color: turquoise;
      justify-content: space-between;
   }

  .logo
   {
      display: flex;
   }

   header picture
   {
      padding: 10px;
      border: 1px;
      margin: 10px;
   }
   header .message
   {
      text-align: center;
   }
   header h1
   {
      font-size: 20px;
   }
   header h2
   {
      font-size: 10px;
   }

.social {
   display: flex;
}

.social img{
   margin-top: 30px;
   border: 1px;
   padding: 5px;
   border-radius: 50%;
}


#primaryNav
{
   
   list-style: none;
}
   

#currentdate
{
   width: 95%;
   margin: 10px;
   border: 1px ;
   padding: 5px;
   text-align: center;
   background-color: gray;
}

main{
   padding: 10px;
   margin: 10px;
   border: 4px ;
}

.hero{
   background-color: gray;
}

.hero img {
   width: 100%;
   /* height: 100%; */
   object-fit: cover;
 }

.hero h2{
    border: 2px;
    padding: 5px;
    margin: 2px;
    color: white;
}

.event{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}
.event h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.weather{
   width: 100%;
   height: auto;
   border: 2px;
   padding: 5px;
   margin: 2px;
}

.weather h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.news{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.news h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.spot{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.spotlight1{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.spotlight2 h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.spotlight2{
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px
}

.spotlight2 h2 {
   border: 2px;
   padding: 5px;
   margin: 2px
}

.spotlight3{
   display: none;
}

.spotlight3 h2 {
   display: none;
   border: 2px;
   padding: 5px;
   margin: 2px
}

p{
   border: 2px;
   padding: 5px;
   margin: 2px
}

.join{
   display: none;
   width: 100%;
   height: auto;
   border: 2px solid gray;
   padding: 5px;
   margin: 2px;
   font-size: 2rem;
}

nav button{
   margin: .2rem 2vw;
   background: transparent;
   border: none;
}

nav
{
   background-color: gray;
}

nav ul{
   padding: 0;
   margin:  0;
}

nav ul{
   display: none;
}

nav ul.open{
   display: block;
}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}


nav ul li a {
   display: block;
   padding: .8rem 2vw;
   text-decoration: none;
   color: #333;
   border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
   background-color: rgba(0, 0, 0, 0.3);
}

/* -------------------FORM------------------ */
form fieldset{
   margin: 2rem 0;
   border: 1px solid #445ba9;
   border-radius: 10px;
   padding: 0.5rem 2%;
}

form legend{
   color: #445ba9;
   margin: 0 1rem;
   padding: 0 .5rem;
}

form label.top, form div{
   display: block;
   padding-top: 1rem;
   color: #9c2c13;
   font-size: .8rem;
}

lebel.level{
   margin-top: 25px;
}

select{
   appearance: none;
   display: block;
   font: 1rem;
   border: solid 1px #999;
   border-radius: 4px;
   padding: .75rem;
   color: #555;
   width: 100%;
   max-width: 20rem;
   background-color: rgba(0, 0, 0, 0.1);
}

form label.top input, form label.top select{
   appearance: none;
   display: block;
   font: 1rem;
   border: solid 1px #999;
   border-radius: 4px;
   padding: .75rem;
   color: #555;
   width: 100%;
   max-width: 20rem;
   background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs{
   display: block;
   padding: .75rem 0;
   color: #555;
}

form input.submitBtn{
   border: none;
   background-color: #9c2c13;
   color: white;
   border-radius: 1rem;
   padding: .75rem 1.5rem;
   margin: 0 0 2rem 2%;
   width: 96%;
   max-width: 20rem;
}

form label.top input:required{
   border-left: red solid 6px;
}

form label.top input:required:valid{
   border-left: green solid 6px;
}
textarea{
   appearance: none;
   display: block;
   font: 1rem;
   border: solid 1px #999;
   border-radius: 4px;
   padding: .75rem;
   color: #555;
   background-color: rgba(0, 0, 0, 0.1);
}

.thanks{
   text-align: center;
}

.top1{
   width: 300px;
}

.top2{
   width: 300px;
   margin-top: 20px;
}
/*           footer    end            */

footer{
   background-color: turquoise;
   text-align: center;
   padding: 10px;
   border: 2px;
   margin: 10px;
}

.image{
   padding: 10px;
   border: 1px;
   margin: 10px;
}

footer h1{
   font-size: 20px
}

footer h2{
   font-size: 15px;
}
footer a{
   text-decoration: none;
   color: black;
}

footer picture{
   margin: 15px;
}



.weather{
   background-color: turquoise;
   margin: 1px;
   padding: 1px;
   border: 1px;
   text-align: center;
}

#bannerElement.banner{
  padding: 5px;
  margin: 5px;
  border: 1px;
  font-size: 10px;
}

/* discover page */

.space{
   margin: 10px;
   padding: auto;
   border: 2px;
   align-items: center;
   text-align: center;
   font-size: 10px;
}

.lazy img{
   width: 100%;
   height: 100%;
}

.section-lazy{
   display: block;
}

img{
   /* width: 50%; */
   border-radius: 5px;
   /* box-shadow: 0px 0px 10px 10px #d3c4ce; */
}

.text{
   width: fit-content;
   height: auto;
   text-align: center;
   margin: 10px;
   padding: 10px;
   border: 2px;
   font-size: 10px;
}

.label{
   padding: 30px; 
   margin: 50px 0px;
   border: 1px;
}

 /* directory */

 * {
   /* margin: 0; */
   padding: 0;
   box-sizing: border-box;
}

main {
   margin: 0 auto;
   padding: 0.5rem;
   /* max-width: 700px; */
   background-color: #fff;
   font-family: Roboto, Helvetica, sans-serif;
   /* justify-content: center; */
}

.menu {
   margin: 1rem auto;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 0.5rem;
   background-color: #bed;
   text-align: center;
}

.menu button {
   padding: 1rem;
   font-weight: 700;
}

section {
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 0.5rem;
   background-color: #eee;
}

.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-gap: 5px;
   align-items: center;
}

.grid section {
   text-align: center;
}

.grid img {
   border: 1px solid #fff;
   box-shadow: 0 0 10px #333;
}

.grid section > * {
   margin: 0.1rem;
}

.grid h3 {
   font-family: "Caveat", cursive;
}

.list {
   display: flex;
   flex-direction: column;
}



.list section > * {
   margin: 0 1rem;
}

.list section img {
   display: none; /* smaller viewports only */
}

.list section h3 {
   font-size: 1rem;
   font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
   background-color: #bed;
}

section h3 {
   font-size: 1.5rem;
}

section p {
   font-weight: 600;
   font-size: smaller;
}

section a {
   font-family: "Roboto", Arial, sans-serif;
   font-size: 0.85rem;
   color: navy;
   letter-spacing: 1.1pt;
}

img {
   /* height: 75px; */
   max-width: 100%; /* Images are jerks - Seattle*/
}

 .directory img{
     height: 75px;
 }
/* end directory */

#daysSinceLastVisit{
   padding: 5px;
   margin: 5px;
   border: 5px;
}